# dependencies
node_modules
.pnpm-store

# build outputs
dist
build
.next
out

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env
.env.*
!.env.example

# OS / editor
.DS_Store
.idea
.vscode

/graphify-out